{% extends 'base.html.twig' %}

{% block title %}Reponse index{% endblock %}

{% block body %}
    <h1>Reponse list </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_reponse</th>
                <th>Date_reponse</th>
                <th>Solution_reponse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reponse in reponses %}
            <tr>
                <td>{{ reponse.idReponse }}</td>
                <td>{{ reponse.dateReponse ? reponse.dateReponse|date('Y-m-d') : '' }}</td>
                <td>{{ reponse.solutionReponse }}</td>
                <td>
                    <a href="{{ path('app_reponse_show', {'id_reponse': reponse.getIdReponse()}) }}">show</a>
                    <a href="{{ path('app_reponse_edit', {'id_reponse': reponse.getIdReponse()}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reponse_new') }}">Create new</a>
{% endblock %}
